.header {
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__option {
  height: 5vh;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.basket__count {
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 0 15px 0 -10px;
  padding: 2px 4px;
}

.header__flag {
  width: 24px;
  transform: scale(1.5);
  position: relative;
  display: inline-block;
  height: 18px;
  margin-left: 15px;
  margin-right: 3px;
  background-image: url("https://m.media-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavAssets-icp_sprite-7285cab5f8342a9a80f19b7ae5b155f77772ffc6._V2_.png");
  background-position: 0 -166px;
}

.header__optionBasket > .MuiSvgIcon-root {
  width: 34px !important;
  height: 34px !important;
}
