.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.basket__count {
  margin: 0 15px 0 5px;
}
